version: "3.9"

services:
  web:
    build: .
    command: uvicorn rpm.asgi:application --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data/

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/html:/var/www/html
    depends_on:
      - web
    restart: always

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./nginx/html:/var/www/html
    entrypoint: >
      /bin/sh -c "
      trap exit TERM;
      while :; do
        certbot renew --quiet --no-self-upgrade &&
        nginx -s reload 2>/dev/null || true;
        sleep 12h;
      done
      "
    restart: always
    depends_on:
      - nginx

volumes:
  pgdata:
